/* .color-changer{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.color{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-style: none;

} */